
<div class="container mb-4">
    <div class="row">
        <div class="col-12" th:if="${movies.size() > 0}">
            <div class="table-responsive ">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Movie Title</th>
                        <th scope="col">Movie Summary</th>
                        <th scope="col">Movie Rating</th>
                        <th scope="col">Movie Production</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    </thead>
                    <tbody >

                    <tr th:each="movie : ${movies}" class="movie">
                        <td th:text="${movie.getTitle()}"></td>
                        <td th:text="${movie.getSummary()}"></td>
                        <td th:text="${movie.getRating()}"></td>
                        <td th:text="${movie.getProduction() !=null}? ${movie.getProduction().getName()}:'No Production'"></td>
                        <td>
                            <a th:href="@{/movies/delete/{id}(id=${movie.id})}"
                               class="btn btn-sm btn-danger delete-movie">
                                <i class="fa fa-trash"></i>Delete
                            </a>
                        </td>
                        <td>
                            <a th:href="@{/movies/edit-form/{id}(id=${movie.id})}"
                               class="btn btn-sm btn-info edit-movie">
                                <i class="fa fa-edit"></i>Edit
                            </a>
                        </td>
                        <td>
                            <form th:action="@{'/shopping-cart/add-movie/{id} '(id=${movie.getId()}) }"
                                  th:method="POST">
                                <div class="form-group">
                                    <label for="dateCreated">Date Created:</label>
                                    <input type="datetime-local" id="dateCreated" name="dateCreated" th:pattern="'yyyy-MM-ddTHH:mm'" required>
                                </div>
                                <label>
                                    <input type="number" name="numOfTickets" min="1" max="10">
                                </label>
                                <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-shopping-cart">Add to Cart</i></button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

        </div>
        <div>
            <a th:href="@{/movies/add-form}" class="btn btn-sm btn-success">
                <i class="fa fa-plus">Add new movie</i>
            </a>
        </div>
    </div>
</div>


